
@{
    ViewBag.Title = "DeriDoseme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="banner-area" style="width:80%; margin:auto; height:auto">
        <img  src="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1316.jpg" alt="" style="width: 100%;
        height: 300px;
        " />
        <div class="parallax-overlay"></div>
        <!-- Subpage title start -->
        <div class="banner-title-content yazi">
            <div class="text-center">
                <h2 class="yazi">LEATHER UPHOLSTERY OPTIONS </h2>
            </div>
        </div><!-- Subpage title end -->
    </div><!-- Banner area end -->
</div>
<!-- Portfolio start -->
<div class="container" style="width:60%">
    <section id="main-container" class="portfolio portfolio-box">

        <div class="row">
            <div id="isotope" class="isotope">
                <div class="col-sm-4 col-lg-4 col-xl-4 web-design isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/NONAFR610.jpg" alt="">
                            <figcaption>
                                <h3>NONA FR 610</h3>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/NONAFR610.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

                <div class="col-sm-4 col-lg-4 col-xl-4 web-design isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1231.jpg" alt="">
                            <figcaption>
                                <h3>RETRO 1231</h3>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1231.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

                <div class="col-sm-4 col-lg-4 col-xl-4 web-design isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1301.jpg" alt="">
                            <figcaption>
                                <h3>RETRO 1301</h3>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/Retro1301.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

                <div class="col-sm-4 col-lg-4 col-xl-4 wordpress isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1316.jpg" alt="">
                            <figcaption>
                                <h3>RETRO 1316</h3>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1316.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

                <div class="col-sm-4 col-lg-4 col-xl-4 joomla isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/retro1521.jpg" alt="">
                            <figcaption>
                                <h3>RETRO 1521</h3>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/retro1521.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

                <div class="col-sm-4 col-lg-4 col-xl-4 development isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1901.jpg" alt="">
                            <figcaption>
                                <h3>RETRO 1901</h3>

                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/RETRO1901.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->
                <div class="col-sm-4 col-lg-4 col-xl-4 development isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory275.jpg" alt="">
                            <figcaption>
                                <h3>SANTA GLORY 275</h3>

                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory275.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->
                <div class="col-sm-4 col-lg-4 col-xl-4 development isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory480.jpg" alt="">
                            <figcaption>
                                <h3>SANTA GLORY 480</h3>

                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory480.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->
                <div class="col-sm-4 col-lg-4 col-xl-4 development isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory525.jpg" alt="">
                            <figcaption>
                                <h3>SANTA GLORY 525</h3>

                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/DeriDosemeSecenekleri/SantaGlory525.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->
            </div><!-- Isotope content end -->
        </div><!-- Content row end -->

    </section><!-- Portfolio end -->
</div><!-- Container end -->
