
@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Slider start -->
    <div class="container" style="width:80%">
        <section id="home" style="margin-top:-45px" class="no-padding ">

            <div id="main-slide" class="ts-flex-slider container">

                <div class="flexSlideshow flexslider" style="width: 80%; margin: auto">
                    <ul class="slides">
                        <li>
                            <div class="overlay2">
                                <img class="slideFoto" src="~/Content/images/HRP/anaresimler/bahce.jpg" alt="slider" style="width:100%; height:auto; object-fit:cover">
                            </div>
                            <div class="flex-caption slider-content">
                                <div class="col-md-12 text-center">
                                    <h2 class="animated2">
                                        GARDEN
                                    </h2>
                                    <h3 class="animated3">
                                        FURNITURE
                                    </h3>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="overlay2">
                                <img class="icMekan" src="~/Content/images/HRP/anaresimler/icMekanMobilya2.jpg" alt="slider" style="width:100%; height:450px; object-fit:cover; margin-top:45px">
                            </div>
                            <div class="flex-caption slider-content">
                                <div class="col-md-12 text-center">
                                    <h2 class="animated4">
                                         INDOOR
                                    </h2>
                                    <h3 class="animated5">
                                        FURNITURE
                                    </h3>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="overlay2">
                                <img class="slideFoto" src="~/Content/images/slider/anaresimler/aksesuarlar.jpg" alt="slider" style="width:100%; height:auto; object-fit:cover">
                            </div>
                            <div class="flex-caption slider-content">
                                <div class="col-md-12 text-center">
                                    <h2 class="animated7">
                                        BATHROOM
                                    </h2>
                                    <h3 class="animated8">
                                        ACCESSORIES
                                    </h3>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="overlay2">
                                <img class="slideFoto" src="~/Content/images/slider/anaresimler/aydınlatmaUrunler.jpg" alt="slider" style="        width: 100%;
        height: auto;
        object-fit: cover">
                            </div>
                            <div class="flex-caption slider-content">
                                <div class="col-md-12 text-center">
                                    <h2 class="animated4">
                                        LIGHTING
                                    </h2>
                                    <h3 class="animated5">
                                        PRODUCTS
                                    </h3>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="overlay2">
                                <img class="slideFoto" src="~/Content/images/slider/anaresimler/kentmobilya.jpg" alt="slider" style="width:100%; height:auto; object-fit:cover">
                            </div>
                            <div class="flex-caption slider-content">
                                <div class="col-md-12 text-center">
                                    <h2 class="animated4">
                                        URBAN
                                    </h2>
                                    <h3 class="animated5">
                                        FURNITURE
                                    </h3>

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div><!--/ Main slider end -->
        </section> <!--/ Slider end -->
    </div>
<!-- Portfolio start -->
<div class="container" style="width:80%">
    <section id="main-container" class="portfolio-static">

        <div class="row">
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item" >
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/ic-mekan-urunleri-652x710-1.jpg" alt="" style="object-fit:fill; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/ic-mekan-urunleri-652x710-1.jpg"><i class="fa fa-search"></i></a>

                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 1 end -->

            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/aydinlatma-urunleri-652x554-1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/aydinlatma-urunleri-652x554-1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 2 end -->

            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/kent-mobilyalari-652x554-1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/kent-mobilyalari-652x554-1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 3 end -->

            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/bahce-mobilyalari-1-652x811-1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/bahce-mobilyalari-1-652x811-1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 4 end -->

            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar ">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/3-1_1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/3-1_1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 5 end -->

            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/banyo-urunleri_1-652x714-1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/banyo-urunleri_1-652x714-1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/4_1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/4_1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/awee_1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/awee_1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/sahne1_1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/sahne1_1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/sahne2_1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/sahne2_1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/sahne2_1080_1080_1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/sahne2_1080_1080_1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/sahne3_1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/sahne3_1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/pergole-06_1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/pergole-06_1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010997.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010997.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010985.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010985.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010981.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010981.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010974.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010974.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010963.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010963.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010961.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010961.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010956.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010956.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010953.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010953.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010952.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010952.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010944.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010944.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010942.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010942.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010935.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010935.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010937.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010937.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010925.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010925.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010920.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010920.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010918.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010918.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010909.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010909.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010908.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010908.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010904.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010904.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010854.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010854.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010858.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010858.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010838.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010838.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010832.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010832.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010826.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010826.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010811.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010811.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010817.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010817.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010798.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010798.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010782.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010782.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/düzenlenen/XT2_I_010991 kopya.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010991.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/XT2_I_010765.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/XT2_I_010765.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/pergole-04_1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/pergole-04_1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
            <div class="col-sm-3 col-md-3 col-xs-12 col-sm-12 col-xl-3 col-lg-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img class="galeriFoto" src="~/Content/images/HRP/Galeri/pergole-05_1.jpg" alt="" style="object-fit:cover; width:295px; height:285px">
                        <figcaption>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/Galeri/pergole-05_1.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>

                </div><!--/ grid end -->
            </div><!--/ item 6 end -->
        </div><!-- Content row end -->

    </section><!-- Portfolio end -->
</div><!-- Container end -->
