
@{
    ViewBag.Title = "MetalRenk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="banner-area" style="width:80%; margin:auto; height:auto">
        <img  src="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/blackparlak - Kopya1.png" alt="" style="width: 100%;
        height: 300px;
        object-fit: contain;
        object-position: 20% 15%" />
        <div class="parallax-overlay"></div>
        <!-- Subpage title start -->
        <div class="banner-title-content yazi">
            <div class="text-center">
                <h2 class="yazi">METAL COLOR OPTIONS </h2>
            </div>
        </div><!-- Subpage title end -->
    </div><!-- Banner area end -->
</div>
<!-- Portfolio start -->
<div class="container" style="width:60%">
    <section id="main-container" class="portfolio portfolio-box">

        <div class="row">
            <div id="isotope" class="isotope">
                <div class="col-sm-3 col-lg-3 col-xl-3 web-design isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/natursatine.jpg" alt="">
                            <figcaption>
                                <h3>NATURAL-SATIN</h3>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/natursatine.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

                <div class="col-sm-3 col-lg-3 col-xl-3 web-design isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/naturparlak.jpg" alt="">
                            <figcaption>
                                <h3>NATURAL-POLISHED </h3>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/naturparlak.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

                <div class="col-sm-3 col-lg-3 col-xl-3 web-design isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldsatine.jpg" alt="">
                            <figcaption>
                                <h3>GOLD–SATIN </h3>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldsatine.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

                <div class="col-sm-3 col-lg-3 col-xl-3 wordpress isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldparlak.jpg" alt="">
                            <figcaption>
                                <h3>GOLD-POLISHED </h3>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/goldparlak.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

                <div class="col-sm-3 col-lg-3 col-xl-3 joomla isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzsatine.jpg" alt="">
                            <figcaption>
                                <h3>ROSE GOLD–SATIN  </h3>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzsatine.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

                <div class="col-sm-3 col-lg-3 col-xl-3 development isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzparlak.jpg" alt="">
                            <figcaption>
                                <h3>  ROSE GOLD-POLISHED </h3>

                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/bronzparlak.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->
                <div class="col-sm-3 col-lg-3 col-xl-3 development isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/blacksatine.jpg" alt="">
                            <figcaption>
                                <h3>BLACK-SATIN</h3>

                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/blacksatine.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->
                <div class="col-sm-3 col-lg-3 col-xl-3 development isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/blackparlak.jpg" alt="">
                            <figcaption>
                                <h3>BLACK-POLISHED </h3>

                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/Content/images/HRP/tamamlayiciurun/MetalRenkSecenekleri/blackparlak.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div><!-- Isotope item end -->

            </div><!-- Isotope content end -->
        </div><!-- Content row end -->

    </section><!-- Portfolio end -->
</div><!-- Container end -->
